ul > li {
    border-bottom: 1px solid black;
}

ul > li > ol > li:not(:last-child) {
    background-color: #eee;
}

ul > li > ol > li ol li{
    border:1px dashed black;
}

ul > li > ol > li:last-child {
    border:1px dashed black;
    font-style: italic;
    color: white;
    background-color:black;
}